{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/google.html" as google %}
{% from "bootstrap/pagination.html" import render_pagination %}
{% block title %}
    Bike for Leuven
{% endblock %}
{% block styles %}
    {{ super() }}
    <style type="text/css">
        body {
            background-color: rgb(29, 141, 176);
        }

        #banner {
            width: 100%;
        }

        html, body, .container-table {
            height: 100%;
        }

        .container-table {
            display: table;
        }

        .vertical-center-row {
            display: table-cell;
            vertical-align: middle;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container container-table">
        <div class="row" style="">
            <div class="col-xs-12" style="text-align:center">
                {#<img id="banner" src="{{url_for('static', filename='LoveLeuven.png')}}" />  #}
            </div>
        </div>
        {% block page_content %}
        {% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}
