{% extends 'base.html' %}
{% block page_content %}
    <h1>Welcome</h1>
    <p>Current session: <span id="session-distnace"></span></p>
    <p>Today: <span id="today-distance"></span></p>
    <p>Total: <span id="total-distance"></span></p>
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        var lastUpdateTime = null;
        function updateDistance() {
            var currentUpdateTime = new Date();
            lastUpdateTime = currentUpdateTime;
            $.get('{{ url_for('get_distances') }}', function (res) {
                if (currentUpdateTime == lastUpdateTime) {
                    var totalDistance = res.total;
                    var todayDistance = res.today;
                    var currentSessionDistance = res.current_session;
                    $('#session-distance').text(currentSessionDistance);
                    $('#total-distance').text(totalDistance);
                    $('#today-distance').text(todayDistance);
                }
            }, "json");
        }
        $(document).ready(function () {
            window.setInterval(function () {
                updateDistance();
            });
        });
    </script>
{% endblock %}